<div class="container mt-5 mb-5">
  <h1>Requests sent to me</h1>

  <% if @my_requests.empty? %>
    <p>Oh, no! No pet wants to spend time with you :(</p>
  <% end %>

  <div class="row">
    <% @my_requests.each do |request| %>
        <div class="col">
          <div class="card-product">
            <img src="<%= request.pet_photo_url %>" alt="">
            <div class="card-product-infos">
              <ul class="card-list">
                <li>
                  <p><strong>from</strong> <%= request.booking_start_date %> to <%= request.booking_end_date %></p>
                  <p><strong>species:</strong> <%= request.species %></p>
                  <p><strong>pet description:</strong> <%= request.pet_description %></p>

                  <% unless request.confirmed %>
                    <%= link_to confirm_path(request), method: 'post' , class: "card-product-btn" do%>
                      <i class="fas fa-check-circle"></i>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>


<div class="container mt-5 mb-5">
  <h1>My pending bookings</h1>

  <% if @my_bookings.empty? %>
    <p>none at this time</p>
  <% end %>

  <div class="row">
    <% @my_bookings.each do |booking| %>
        <div class="col">
          <div class="card-product">
            <img src="<%= booking.place.photo_url %>" alt="">
            <div class="card-product-infos">
              <ul class="card-list">
                <li>
                  <p><strong>from</strong> <%= booking.booking_start_date %> to <%= booking.booking_end_date %></p>
                  <p><strong>confirmed:</strong> <%= booking.confirmed ? 'Yes' : 'No' %></p>

                  <% unless booking.confirmed %>
                    <%= link_to booking_path(booking), method: 'delete', class: "card-product-btn" do%>
                      <i class="far fa-window-close"></i>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="container mt-5 mb-5">
  <h1>My ongoing bookings</h1>

  <% if @ongoing_bookings.empty? %>
    <p>none at this time</p>
  <% end %>

  <div class="row">
    <% @ongoing_bookings.each do |booking| %>
        <div class="col">
          <div class="card-product">
            <img src="<%= booking.place.photo_url %>" alt="">
            <div class="card-product-infos">
              <ul class="card-list">
                <li>
                  <p><strong>from</strong> <%= booking.booking_start_date %> to <%= booking.booking_end_date %></p>
                  <p><strong>confirmed:</strong> <%= booking.confirmed ? 'Yes' : 'No' %></p>

                  <% unless booking.confirmed %>
                    <%= link_to booking_path(booking), method: 'delete', class: "card-product-btn" do%>
                      <i class="far fa-window-close"></i>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

