<h1>Requests sent to me</h1>

<ul>
  <% @my_requests.each do |request| %>
    <li>
      <p>from <%= request.booking_start_date %> to <%= request.booking_end_date %></p>
      <p>confirmed: <%= request.confirmed %></p>
      <p>species: <%= request.species %></p>
      <p>pet description: <%= request.pet_description %></p>
      <p>request from: <%= request.user.first_name %></p>
      <% unless request.confirmed %>
        <%= link_to 'confirm', confirm_path(request), method: 'post' %>
      <% end %>
    </li>
  <% end %>
</ul>

<hr><br>

<h1>My pending bookings</h1>

<ul>
  <% @my_bookings.each do |booking| %>
    <li>
      <p>from <%= booking.booking_start_date %> to <%= booking.booking_end_date %></p>
      <p>confirmed: <%= booking.confirmed %></p>
      <p>species: <%= booking.species %></p>
      <p>place title: <%= booking.place.title %></p>
      <p>place price: <%= booking.place.price %></p>
      <p>host: <%= booking.place.user.first_name %></p>
      <% unless booking.confirmed %>
        <%= link_to 'cancel', booking_path(booking), method: 'delete' %>
      <% end %>
    </li>
  <% end %>
</ul>
