<div class="col-sm-12 col-md-6 col-lg-3">
  <div class="card-trip">
    <%= link_to 'more...', place_path(place), class: 'card-trip-btn btn' %>

    <img src=<%= place.photo_url %> />
    <div class="card-trip-infos">
      <div>
        <h2><%= place.title %></h2>
        <!-- <p><%= place.description %></p> -->
      </div>
      <h2 class="card-trip-pricing">£<%= place.price %></h2>
    </div>
  </div>
</div>
