<div class="banner">
  <div class="container">
    <h1>Pet   Love</h1>
    <p>Keeping our furry friends safe & warm</p>
    <%= link_to 'Book a Home', places_path, class: 'btn btn-flat' %>
  </div>
</div>

<div id="container-home" align="center">
  <h1 class="m-5">Some places our pets have enjoyed their stay</h1>

  <div class="row">
    <% @sample_places1.each do |place| %>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <%= render 'shared/card', place: place %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <%= render 'shared/card', place: @sample_places2 %>
    </div>
  </div>

    <div class="row">
    <% @sample_places3.each do |place| %>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <%= render 'shared/card', place: place %>
      </div>
    <% end %>
  </div>

  <%= link_to 'See all our places', places_path, class: 'btn btn-flat' %>
</div>

